/* style.css */
.tree-root,
.tree-node,
.tree-leaf {
	margin-right: 20px;
}

.tree-root::before {
	content: "";
	position: absolute;
	top: 20px; /* Adjust this value to align the line with the node */
	left: 10px; /* Adjust this value to control the indentation */
	width: 1px;
	height: 100%; /* Adjust this value to cover the entire height of the node */
	background-color: #e4e7ec; /* Adjust this value to set the color of the line */
}

.tree-node::before {
	content: "";
	position: absolute;
	top: 20px; /* Adjust this value to align the line with the node */
	left: 12px; /* Adjust this value to control the indentation */
	width: 1px;
	height: 50%; /* Adjust this value to cover the entire height of the node */
	background-color: #e4e7ec; /* Adjust this value to set the color of the line */
}
.custom-gap {
	gap: 50px;
}

.header-gap {
	gap: 30px;
}

.custom-border {
	border-bottom: 1px solid #c6c6c6;
}

.leaf {
	padding-left: 15px;
}

.toggleEffect {
	transition: transform 0.3s ease;
}

.hovered-node {
	color: #00ff00;
	font-weight: bold;
}

.active-node {
	color: #422f8a;
	font-weight: bold;
}

.inactive-node {
	color: #475467;
}

.score-percentage {
	color: #c6c6c6;
}

.table-header {
	color: #7a7585;
}

